## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x = 1
print(x)

1

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
y = 8.5
print(type(y))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [37]:
print(type(x))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [ ]:
name = "Tadeo"

5) Crear una variable que contenga un número complejo

In [ ]:
complex_number=5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
complex_number=5j
print(type(complex_number))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [8]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [ ]:
string = "True"
boolean =True

#Not the same, x is a string and y is a boolean

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [11]:
string = "True"
boolean =True

print(type(string))
print(type(boolean))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [13]:
number = 10 + 3.2
print(number)

13.2

11) Realizar una operación de suma de números complejos

In [14]:
print(5j + 4j)

9j

12) Realizar una operación de suma de un número real y otro complejo

In [15]:
print(5 + 4j)

(5+4j)

13) Realizar una operación de multiplicación

In [17]:
print(6*8)

48

14) Mostrar el resultado de elevar 2 a la octava potencia

In [19]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [21]:
print(27/4)

6.75

16) De la división anterior solamente mostrar la parte entera

In [22]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [23]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [24]:
print(4*6+3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [25]:
print("Jay121" + " " + "Koa23")

Jay121 Koa23

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [27]:

a = 2
b = "2"
print(a==b)

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [29]:
print(a==int(b))
print(str(a)==b)

True
True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
#Has , instead of .

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [31]:
a = 3
a -= 1
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [32]:
print(1<<2)

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [34]:
print(2+int("2"))

4

26) Realizar una operación válida entre valores de tipo entero y string

In [36]:
name = "Francis"
lucky_number = 15

print(name + " lucky number is: " + str(lucky_number))

Francis lucky number is:15